*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: auto;
}

body{
    font-family: 'Montagu Slab', serif;
    color: #8a8a8a;
}

header{
    margin-bottom: 20px;
}

img{
    width: 180px;
    margin-bottom: 40px;
}

li{
    display: inline-block;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #8a8a8a;
}

.hero{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.658);
    min-height: 550px;
    margin-bottom: 20px;
    color: white;
    border-radius: 10px;
}

.text-hero{
    font-size: 20px;
}

.hero > h2{
    padding-top: 350px;
    font-size: 35px;
    
}

.text-hero, .hero > h2{
    padding-left: 50px;
    width: 50%;
}

.second-section{
    background-color: blue;
    margin-bottom: 10px;
}

.row-top{
    background-color: #abcfe7;
    min-height: 100px;
}

.column-1, .column-3{
    background-color: #abcfe7;
    width: 20%;
    min-height: 400px;
    float: left;
    margin: 20px 0;
}

.column-2{
    background-color: #abcfe7;
    width: calc(60% - 20px);
    min-height: 400px;
    float: left;
    margin: 20px 10px;
}

.columns::after{
    content: "";
    display: block;
    clear: both;
}

footer{
    background-color: blueviolet;
    height: 100px;
}