*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1280px;
    margin: auto;
}

body{
    font-family: 'Montagu Slab', serif;
    color: #8a8a8a;
}

.opacity{
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    border-radius: 10px;
}

header{
    margin-bottom: 20px;
}

img{
    width: 180px;
    margin-bottom: 40px;
}

li{
    display: inline-block;
    margin-right: 10px;
}

a{
    text-decoration: none;
    color: #8a8a8a;
}

.hero{
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    min-height: 550px;
    margin-bottom: 30px;
    color: white;
    border-radius: 10px;
}

.text-hero{
    font-size: 20px;
}

.hero > h2{
    padding-top: 350px;
    font-size: 35px;
    
}

.text-hero, .hero > h2{
    padding-left: 50px;
    width: 50%;
}

.second-section{
    margin-bottom: 10px;
}

.title-leadership{
    color: black;
    font-size: 50px;
}

.text-leadership{
    font-size: 23px;
}

.column-1, .column-3{
    width: 20%;
    min-height: 400px;
    float: left;
    margin: 20px 0;
}

.image-col-1, .image-col-2, .image-col-3{
    height: 200px;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    margin-bottom: 20px;
}

.image-col-1{
    background-image: url(../img/img-1.jpg);
}

.image-col-2{
    background-image: url(../img/banner-2.jpg);
}

.image-col-3{
    background-image: url(../img/img-3.jpg);
}

.column-2{
    width: calc(60% - 20px);
    min-height: 400px;
    float: left;
    margin: 20px 10px;
}

.columns h3{
    color: black;
    margin-bottom: 15px;
}


.columns::after{
    content: "";
    display: block;
    clear: both;
}




footer{
    background-color: blueviolet;
    height: 100px;
}